.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.name {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    span {
        margin-right: 5px;
    }
    .check-circle {
        font-size: 15px;
        opacity: 1;
        color: rgb(32,213,236);
    }
}
.user-name {
    font-size: 18px;
    opacity: 0.5;
}