.content {
    width: 224px;
    position: relative;
    &::after {
        content: '';
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid white;
        filter: blur(20);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-40%) translateY(-90%);
    }
}

.menu-body {
    overflow-y: overlay;
    max-height: calc(100vh - 400px);
}
.button-item {
    padding: 15px 10px;
    font-weight: 500;
    width: 100%;
    text-align: start;
    display: block;
    border-radius: unset;
    font-weight: 501;
    font-family: var(--font-family);
    height: 48px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.header {
    margin-top: -10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 0;
}

.back-btn {
    border-radius: 10px 0 0 0;
    background-color: transparent;
    width: 50px;
    height: 40px;
    transform: translateX(20%);
    cursor: pointer;
    margin-left: -10px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.header-title {
    font-size: 18px;
    margin: 0;
    transform: translateX(40%);
}
.linetop {
    border-top: 1px solid rgba(0, 0, 0, 0.096);
}