.content {
    width: 224px;
    position: relative;
    max-height: 500px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    &::after {
        content: '';
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid white;
        filter: blur(20);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-40%) translateY(-90%);
    }
}
.button-item {
    padding: 15px;
    font-weight: 500;
    width: 100%;
    text-align: start;
    display: block;
    border-radius: unset;
    height: 48px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

.back-btn {
    background-color: transparent;
    width: 50px;
    height: 40px;
    transform: translateX(20%);
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.header-title {
    font-size: 18px;
    margin: 0;
    transform: translateX(30%);
}
.content-select {
    height: 40px;
}
.footer {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.329);
}