.Wrapper {
    font-size: 16rem;
    font-weight: 700;
    min-width: 95px;
    padding: 9px 14px;
    border-radius: 4px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
    display: block;
    &.disabled {
        pointer-events: none;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 4px;
}
.icon {
    display: inline-block;
    min-width: 20px;
    text-align: center;
}

.primary {
    color: #fff;
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c56d2;
    }
}
.outline {
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 8px 14px;
    &:hover {
        background-color: rgba(253, 44, 85, 0.06);
    }
}
.tranparent {
    background-color: transparent;
    font-size: 18rem;
    
}
.rounded {
    border-radius: 9999999px;
    padding: 8px 0;
    background-color: transparent;
    border: 1px solid rgba(22,24,25,0.12);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        border-color: rgba(22,24,35,0.2);
        background-color: rgba(22,24,35,0.03);
    }
}
