@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-size: 6.25%;
}
* {
    box-sizing: border-box;
}
:root {

    //color
    --text-color: black;
    --primary: rgb(254, 44, 85);

    //font
    --font-family: "Lato", sans-serif;

    //size
    --header-height: 60px;
    --item-menu-height: 40px;
}
body {
    font-family: var(--font-family);
    font-size: 24rem;
    line-height: 15rem;
    text-rendering: optimizeSpeed;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($color: #ccc, $alpha: 0.5);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
// custom tippy styles
//tippy arrows
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: rgba(84,84,84, 0.92);

}
body .tippy-box {
    font-size: 16rem;
    line-height: 22rem;
    border-radius: 14rem;
    padding: 2px;
    font-weight: 600;
    background-color: rgba(84,84,84, 0.92);
    color: rgb(255, 255,255);
}