@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-size: 6.25%;
}
* {
    box-sizing: border-box;
}
:root {
    
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 24rem;
    line-height: 15rem;
    text-rendering: optimizeSpeed;
    margin: 0;
}
