.wrapper {
    margin-left: 15px;
    width: 220px;
    max-height: 100vh;
}
.sidebar-scrool {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    mask-image: linear-gradient(to top, transparent, black),
        linear-gradient(to left, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
        linear-gradient(to left, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.sidebar-scrool:hover {
    -webkit-mask-position: left top;
}
