.header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.info {
    display: flex;
    align-items: center;
}
.info-name {
    margin-left: 18px;
}
.info-name > span > h2 {
    margin: 0;
}
.info-avt {
    width: 116px;
    height: 116px;
    border-radius: 200px;
}
.button-follow {
    width: 208px;
    height: 36px;
}
.more > * {
    margin-right: 10px;
}
.follow {
    display: flex;
}
.follow > * {
    margin-left: 20px;
}
.follow > *:first-child {
    margin-left: 0px;
}