.wrapper {
    height: var(--header-height);
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 24px 0 16px;
    align-items: center;
}

.upload {
    display: flex;
    font-size: 20px;
    background-color: white;
    border: none;
    height: 38px;
    align-items: center;
    padding: 10px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.upload:hover {
    background-color: rgba(22, 24, 35, 0.05);
}
.upload p {
    margin-left: 8px;
    margin-top: 18px;
}
.messeger {
    padding: 0 5px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 28px;
    cursor: pointer;
    opacity: 0.6;
}
.notication-box {
    padding: 0 5px;
    cursor: pointer;
    font-size: 28px;
    cursor: pointer;
    opacity: 0.6;
    margin-right: 8px;

}
.avatar {
    border-radius: 50%;
    margin-right: 8px;

    cursor: pointer;
    width: 35px;
    margin-left: 10px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions_more {
    padding: 4px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 22rem;
    opacity: 0.8;
    background-color: transparent;
}
.actions-upload {
    &:hover {
        text-decoration: underline;
    }
}